---
interface Props {
  logo: string;
  logoAlt: string;
  logoTitle?: string;
  title: string;
  company: string;
  type?: string;
  location: string;
  period: string;
  duration?: string;
  durationClass?: string;
}

const {
  logo,
  logoAlt,
  logoTitle = logoAlt,
  title,
  company,
  type = "Full-time",
  location,
  period,
  duration,
  durationClass,
} = Astro.props;
---

<div class="experience-item">
  <div class="role-details">
    <div class="logo">
      <wc-image src={logo} title={logoTitle} alt={logoAlt}></wc-image>
    </div>
    <div class="role">
      <h4 class="text-title-large role-title">
        {title}
        <wc-tag size="small" color="red"
          >{durationClass && <span class={durationClass} />}{duration}</wc-tag
        >
      </h4>
      <span class="text-body-compact role-description">
        {company}<span class="dot"></span>{type}<span class="dot"></span>{
          location
        }
        <span class="dot"></span>
        {period}
      </span>
    </div>
  </div>
  <div class="experience-details">
    <slot />
  </div>
</div>

<style lang="scss">
  .experience-item {
    margin-bottom: var(--spacing-400);
  }
  .role-details {
    display: flex;
    gap: var(--spacing-200);
    margin-bottom: var(--spacing-300);
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5.5rem;
      width: 5.5rem;
      background: white;
      border: 1px solid var(--color-outline);
      padding: var(--spacing-100);
      border-radius: var(--shape-corner-medium);
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .role {
      .role-title {
        display: flex;
        align-items: center;
        gap: var(--spacing-100);

        margin-bottom: var(--spacing-050);
      }
      .role-description {
        color: var(--color-on-surface-variant);
      }
    }
  }
  .dot {
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: currentColor;
    vertical-align: middle;
    margin-inline: 0.4rem;
  }
</style>
