---
import { getCollection } from "astro:content";
import DefaultWithTitle from "../../layouts/DefaultWithTitle.astro";
import "../../styles/projects.scss";

const allProjects = await getCollection("project");

const projects = allProjects
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .map((post) => {
    const slug = post.id
      .replace(/\.(html|mdx?|md)$/, "")
      .replace(/^\d{4}-\d{2}-\d{2}-/, "");
    const href = post.data.externalUrl ?? `/projects/${slug}/`;
    const isExternal = !!post.data.externalUrl;
    return { ...post, slug, href, isExternal };
  });
---

<DefaultWithTitle
  title="Projects"
  description="Showcase of few of my works. Do check them out once."
  keywords={[]}
>
  {
    projects.map((project) => (
      <div class="showcase-item">
        <div class="project-details">
          {project.data.icon && (
            <div class="logo">
              <img
                src={project.data.icon}
                title={project.data.title}
                alt={project.data.title}
              />
            </div>
          )}
          <div class="details">
            <goat-text type="heading" heading-size="4">
              {project.data.title}
            </goat-text>
            {project.data.description && (
              <goat-text type="body" expressive>
                {project.data.description}
              </goat-text>
            )}
            <wc-button
              class="read-more"
              href={project.href}
              target={project.isExternal ? "_blank" : undefined}
              trailing-icon
            >
              {project.isExternal ? "Visit Website" : "Read More"}
              <wc-icon name="arrow_forward" slot="icon" />
            </wc-button>
          </div>
        </div>
      </div>
    ))
  }
</DefaultWithTitle>
