---
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import {
  SITE_TITLE,
  SITE_TAGLINE,
  SITE_DESCRIPTION,
  SITE_URL,
  SITE_TYPE,
  GOOGLE_ANALYTICS_ID,
  AUTHOR,
} from "../siteconfig";

import "../styles/layout/base.scss";

interface Props {
  title?: string;
  description?: string;
  keywords?: string[];
  pageUrl?: string;
  css?: string[];
}

const {
  title,
  description,
  keywords = [],
  pageUrl = Astro.url.pathname,
  css = [],
} = Astro.props;

const pageTitle = title
  ? `${title} · ${SITE_TITLE}`
  : `${SITE_TITLE} · ${SITE_TAGLINE}`;
const pageDescription = description ?? SITE_DESCRIPTION;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{pageTitle}</title>

    <!-- Page meta data -->
    <meta name="author" content={AUTHOR.name} />
    <meta
      name="copyright"
      content={`(c) ${new Date().getFullYear()} ${AUTHOR.name}`}
    />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content={SITE_TYPE} />
    <meta property="og:image" content={`${SITE_URL}/assets/img/profile.webp`} />
    <meta property="og:site_name" content={AUTHOR.name} />
    <meta property="og:title" content={pageTitle} />
    <meta
      name="description"
      property="og:description"
      content={pageDescription}
    />
    <meta name="keywords" content={[SITE_TITLE, ...keywords].join(", ")} />
    <GoogleAnalytics id={GOOGLE_ANALYTICS_ID} />

    <!-- Icons -->
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png" />
    <link
      rel="author"
      href={`https://twitter.com/${AUTHOR.twitter}?rel=author`}
    />
    <link rel="publisher" href={`https://twitter.com/${AUTHOR.twitter}`} />
    <link rel="canonical" href={canonicalURL} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={SITE_TITLE}
      href={`${SITE_URL}/feed.xml`}
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Pacifico&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Peacock styles -->
    <link
      href="https://cdn.jsdelivr.net/npm/@redvars/peacock@3.8.6/dist/assets/styles.css"
      rel="stylesheet"
    />

    <style>
      body {
        background: var(--color-surface-container-highest);
        color: var(--color-on-surface);
      }
    </style>
  </head>

  <body itemscope itemtype="http://schema.org/WebPage">
    <slot />

    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@redvars/peacock@3.8.6/dist/loader.js"
    ></script>
  </body>
</html>
