---
import DefaultWithTitle from "./DefaultWithTitle.astro";
import Authoring from "../components/Authoring.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import AdsenseResponsive from "../components/AdsenseResponsive.astro";
import Subscribe from "../components/Subscribe.astro";
import Comments from "../components/Comments.astro";

interface BreadcrumbItem {
  name: string;
  href: string;
}

interface RelatedPost {
  url: string;
  title: string;
}

interface Props {
  title?: string;
  description?: string;
  keywords?: string[];
  tags?: string[];
  date: Date;
  breadcrumbs: BreadcrumbItem[];
  prevPost?: RelatedPost;
  nextPost?: RelatedPost;
  relativePath?: string;
  js?: string[];
  scripts?: string[];
}

const {
  title,
  description,
  keywords,
  tags = [],
  date,
  breadcrumbs,
  prevPost,
  nextPost,
  relativePath,
  js,
  scripts,
} = Astro.props;
---

<DefaultWithTitle
  title={title}
  description={description}
  keywords={keywords}
  js={js}
  scripts={scripts}
>
  <div class="post">
    <div class="post-container container">
      <Breadcrumb items={breadcrumbs} currentTitle={title ?? ""} />

      <article itemscope itemtype="http://schema.org/Article">
        <h1 class="h2 m-0" itemprop="name">{title}</h1>
        <Authoring date={date} relativePath={relativePath} />

        <div class="row">
          <div class="col-md-9">
            <slot />

            <div class="tags">
              Tags:{" "}
              {
                tags.map((tag) => (
                  <span class="badge badge-primary mx-1">{tag}</span>
                ))
              }
            </div>

            <ul class="pager">
              <li class="previous">
                {
                  prevPost && (
                    <wc-button
                      href={prevPost.url}
                      aria-label={`Previous Post: ${prevPost.title}`}
                      leading-icon
                    >
                      <wc-icon name="arrow_back" slot="icon"></wc-icon>
                      Previous
                    </wc-button>
                  )
                }
              </li>
              <li class="next">
                {
                  nextPost && (
                    <wc-button
                      href={nextPost.url}
                      aria-label={`Next Post: ${nextPost.title}`}
                      trailing-icon
                    >
                      Next
                      <wc-icon name="arrow_forward" slot="icon"></wc-icon>
                    </wc-button>
                  )
                }
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <AdsenseResponsive />
            <hr />
            <Subscribe />
          </div>
        </div>
      </article>

      <Comments />
    </div>
  </div>
</DefaultWithTitle>
